@charset "UTF-8";
/* MEDIA QUERIES */
@media screen and (max-width: 576px) {
  .en-tete {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
  }
  .en-tete h1 {
    display: flex;
    justify-content: center;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section article {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  section article a {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 750ms;
  }
  section article a:active {
    transform: scale(1.15);
  }

  .bdp h3:active {
    animation: wiggle 0.5s;
    animation-iteration-count: infinite;
  }
}
/* Keyframes */
@keyframes wiggle {
  0% {
    transform: rotate(9deg) scale(1);
  }
  10% {
    transform: rotate(-8deg);
  }
  20% {
    transform: rotate(7deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  40% {
    transform: rotate(5deg) scale(1.2);
  }
  50% {
    transform: rotate(-4deg) scale(1.2);
  }
  60% {
    transform: rotate(3deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
/* Mixins */
@font-face {
  font-family: "Note";
  src: url("Little-Thomas.otf") format("otf");
}
/* Général */
html {
  margin: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.en-tete {
  background-color: #579C87;
  display: flex;
  justify-content: center;
  width: 100%;
}
.en-tete h1 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #FECA46;
  font-size: xx-large;
  font-weight: bolder;
}

main {
  display: flex;
  flex-direction: column;
}
main section {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
  justify-self: center;
  align-self: center;
}
main section article {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  height: 250px;
  margin: 10px 10px 10px 10px;
  box-shadow: 6px 6px 2px 1px rgba(52, 52, 58, 0.205);
}
main section article a {
  display: flex;
  flex-direction: column;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 750ms;
}
main section article a:hover {
  transform: scale(1.1);
}
main section #note {
  background-color: #FCDFDB;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
  position: relative;
  transition: border-radius 250ms ease-in-out;
  border-radius: 0px;
}
main section #note img {
  padding-top: 10px;
  padding-bottom: 10px;
}
main section #note:hover {
  border-radius: 25px;
}
main section #note:hover::after {
  border-radius: 25px;
  opacity: 1;
}
main section #note::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #facac3;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main section #chic {
  background-color: #FFF5FE;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
  position: relative;
  transition: border-radius 250ms ease-in-out;
  border-radius: 0px;
}
main section #chic img {
  padding-top: 10px;
  padding-bottom: 10px;
}
main section #chic:hover {
  border-radius: 25px;
}
main section #chic:hover::after {
  border-radius: 25px;
  opacity: 1;
}
main section #chic::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffdcfb;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main section #delice {
  background-color: #FEFEFE;
  justify-content: center;
  width: 226px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
  position: relative;
  transition: border-radius 250ms ease-in-out;
  border-radius: 0px;
}
main section #delice img {
  padding-top: 10px;
  padding-bottom: 10px;
}
main section #delice:hover {
  border-radius: 25px;
}
main section #delice:hover::after {
  border-radius: 25px;
  opacity: 1;
}
main section #delice::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eaeaea;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main section #palette {
  background-color: #FDFFFC;
  justify-content: center;
  width: 226px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
  position: relative;
  transition: border-radius 250ms ease-in-out;
  border-radius: 0px;
}
main section #palette img {
  padding-top: 10px;
  padding-bottom: 10px;
}
main section #palette:hover {
  border-radius: 25px;
}
main section #palette:hover::after {
  border-radius: 25px;
  opacity: 1;
}
main section #palette::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #dbffc9;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main section .menu_title {
  display: block;
}
main section {
  display: flex;
  justify-content: center;
}
main section button {
  background-color: #579C87;
  margin-bottom: 50px;
  display: flex;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 75px;
}
main section button h3 {
  color: #FECA46;
}

.bdp {
  display: flex;
  background-color: #579C87;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 50px;
  min-width: 100%;
  z-index: 2;
}
.bdp h3 {
  display: flex;
  margin: auto;
  color: #FECA46;
}
.bdp h3:hover {
  animation: wiggle 0.5s;
  animation-iteration-count: 3;
}
.bdp a {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin: auto;
  align-content: center;
  outline-width: 0px;
}

/*# sourceMappingURL=style.css.map */
