/* MEDIA QUERIES */

@media screen and (max-width: 576px)
{
    .en-tete
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 100%;
        
        
        h1 
        {
            display: flex;
            justify-content: center;
        }
        
        
    }
    
    section 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        
        
        article
        {
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
            a
            {
                transform: scale(1);
                transition-property: transform;
                transition-duration: 750ms;
                &:active {
                    transform: scale(1.15);
                }
            }
            
        }
        
        
        
    }
    
    .bdp h3
    {
        &:active 
        {
            animation: wiggle 0.5s;
            animation-iteration-count: infinite;
        }
    }
}

/* Keyframes */

@keyframes wiggle {
    0% { transform: rotate(9deg) scale(1); }
    10% { transform: rotate(-8deg); }
    20% { transform: rotate(7deg); }
    30% { transform: rotate(-6deg); }
    40% { transform: rotate(5deg) scale(1.2); }
    50% { transform: rotate(-4deg) scale(1.2); }
    60% { transform: rotate(3deg); }
    70% { transform: rotate(-2deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(0deg) scale(1.0); }
}


/* Mixins */

@mixin b-style 
{
    background-color: #579C87;
}

@mixin f-style
{
    color: #FECA46;
    
    
}

@mixin Box-menu
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    
    img
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}

@font-face
{
    font-family: 'Note';
    src: url('Little-Thomas.otf') format('otf');
}

/* Général */

html
{
    margin: none;
}

body
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.en-tete
{
    @include b-style; 
    display: flex;
    justify-content: center;
    width: 100%;
    h1 
    {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        @include f-style;
        font-size: xx-large;
        font-weight: bolder;
    }
}

main
{
    display: flex;
    flex-direction: column;
    section
    {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: center;
        justify-self: center;
        align-self: center;
        article
        {
            display: flex;
            flex-direction: column;
            max-width: 196px;
            
            margin: 10px 10px 10px 10px;
            box-shadow: 0px 0px 7px rgba(52, 52, 58, 0.205);
            
            
            
            
        }
        
        article a
        {
            display: flex;
            flex-direction: column;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 750ms;
            
            &:hover {
                transform: scale(1.10);
            }
            
        }
        
        #note
        {
            background-color: #FCDFDB;
            justify-content: center;
            @include Box-menu;
            z-index: 1;
            position: relative;
            transition: border-radius 250ms ease-in-out;
            border-radius: 0px;
            height: 250px;
            
            &:hover
            {
                border-radius: 25px;
                &::after
                {
                    border-radius: 25px;
                    opacity: 1;
                }
                
                
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: darken(#FCDFDB, 5) ;
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
            }
            
        }
        
        #chic
        {
            background-color: #FFF5FE;
            justify-content: center;
            @include Box-menu;
            height: 250px;
            
            z-index: 1;
            position: relative;
            transition: border-radius 250ms ease-in-out;
            border-radius: 0px;
            
            &:hover
            {
                border-radius: 25px;
                &::after
                {
                    border-radius: 25px;
                    opacity: 1;
                }
                
                
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: darken(#FFF5FE, 5) ;
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
            }
            
        }
        
        #delice
        {
            background-color: #FEFEFE;
            justify-content: center;
            width: 226px;
            @include Box-menu;
            height: 250px;
            
            z-index: 1;
            position: relative;
            transition: border-radius 250ms ease-in-out;
            border-radius: 0px;
            
            &:hover
            {
                border-radius: 25px;
                &::after
                {
                    border-radius: 25px;
                    opacity: 1;
                }
                
                
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: darken(#FEFEFE, 8) ;
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
            }
        }
        
        #palette
        {
            background-color: #FDFFFC;
            justify-content: center;
            width: 226px;
            @include Box-menu;
            height: 250px;
            
            z-index: 1;
            position: relative;
            transition: border-radius 250ms ease-in-out;
            border-radius: 0px;
            
            &:hover
            {
                border-radius: 25px;
                &::after
                {
                    border-radius: 25px;
                    opacity: 1;
                }
                
                
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: darken(#FDFFFC, 10) ;
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
            }
            
        }
        
        .menu_title
        {
            display: block;
            
        }
    }
    section
    {   
        display: flex;
        justify-content: center;
        
        button 
        {
            @include b-style;
            margin-bottom: 50px;
            display: flex;
            justify-self: center;
            justify-content: center;
            justify-items: center;
            margin-bottom: 75px;
            border-radius: 25px;
            width: 175px ;
            border-style: none;
            
            h3
            {
                @include f-style;
            }
        }
    }
}

.bdp
{
    display: flex;
    @include b-style;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 50px;
    min-width: 100%;
    z-index: 2;
    
    h3 
    {
        display: flex;
        margin : auto;
        @include f-style;
        &:hover {
            animation: wiggle 0.5s;
            animation-iteration-count: 3;
        }
        
    }
    
    a
    {
        display: flex;
        justify-content: space-around;
        align-self: center;
        margin: auto;
        align-content: center;
        text-decoration: none;
    }
    
}


/* Mise en Page Menu */

#menu-pres
{
    max-width: 750px;
    min-width: 550px;
    box-shadow: none;
    max-height: none;
    margin-top: 50px;
    background-color: #FCDFDB ;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Balsamiq Sans', cursive;
    .title-menu
    {
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
        vertical-align: middle;
        
        
        
    }
    
    .title-menu img 
    {
        align-self: center;
    }
    
    .repas
    {
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        
        span
        {
            display: flex;
            align-self: right;
            justify-self: right ;
            align-self: right;
            font-weight: bolder;
        }
        
        
    }
    
    .img-top
    {
        margin-top: 30px;
    }
    
    #img-bot 
    {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 40px ;
    }
}

#menu-pres-2
{
    max-width: 750px;
    min-width: 550px;
    box-shadow: none;
    max-height: none;
    margin-top: 50px;
    background-color: #FFF5FE ;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Nunito', sans-serif;
    .title-menu
    {
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
        vertical-align: middle;
        
        
        
    }
    
    .title-menu img 
    {
        align-self: center;
    }
    
    .repas
    {
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        
        span
        {
            display: flex;
            align-self: right;
            justify-self: right ;
            align-self: right;
            font-weight: bolder;
        }
        
        
    }
    
    .img-top
    {
        margin-top: 30px;
    }
    
    #img-bot 
    {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 40px ;
    }
}


