@charset "UTF-8";
/* MEDIA QUERIES PAGE D'ACCEUIL */
@media screen and (max-width: 576px) {
  .en-tete {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
  }
  .en-tete h1 {
    display: flex;
    justify-content: center;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section article {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  section article a {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 750ms;
  }
  section article a:active {
    transform: scale(1.15);
  }

  .bdp {
    position: fixed;
    width: auto;
  }

  .bdp h3:active {
    animation: wiggle 0.5s;
    animation-iteration-count: infinite;
  }
}
/* MEDIA QUERIES PAGES MENUS */
@media screen and (max-width: 576px) {
  .menu-view {
    display: flex;
    width: auto;
    justify-content: start;
  }

  #menu-pres {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    font-size: smaller;
  }
  #menu-pres .title-menu {
    width: fit-content;
    font-size: small;
    display: flex;
    align-self: center;
  }
  #menu-pres .title-menu img {
    max-width: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #menu-pres-2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    font-size: smaller;
  }
  #menu-pres-2 span {
    align-content: center;
    display: flex;
  }
  #menu-pres-2 .img-top {
    width: 250px;
    display: flex;
    align-self: center;
  }
  #menu-pres-2 .title-menu {
    width: fit-content;
    font-size: 8px;
    display: flex;
    align-self: center;
    justify-content: space-around;
  }
  #menu-pres-2 .title-menu img {
    max-width: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .title-delice {
    align-self: center;
  }
}
/* Media queries Menu Desktop */
@media screen and (min-width: 576px) {
  #menu-pres {
    max-width: 750px;
    min-width: 550px;
    padding-left: 60px;
    padding-right: 60px;
  }

  #menu-pres-2 {
    max-width: 750px;
    min-width: 550px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
/* Keyframes */
@keyframes wiggle {
  0% {
    transform: rotate(9deg) scale(1);
  }
  10% {
    transform: rotate(-8deg);
  }
  20% {
    transform: rotate(7deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  40% {
    transform: rotate(5deg) scale(1.2);
  }
  50% {
    transform: rotate(-4deg) scale(1.2);
  }
  60% {
    transform: rotate(3deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* Mixins */
/* Général */
.titre_chic {
  text-decoration: none;
  font-family: "Croissant One", cursive;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  font-size: 16px;
  background: -webkit-linear-gradient(right, #E48B0D, #8B59FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.en-tete {
  background-color: #579C87;
  display: flex;
  justify-content: center;
  width: 100%;
}
.en-tete a {
  text-decoration: none;
}
.en-tete h1 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #FECA46;
  font-size: xx-large;
  font-weight: bolder;
}

main {
  display: flex;
  flex-direction: column;
}
main section {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
  justify-self: center;
  align-self: center;
}
main section article {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  margin: 10px 10px 10px 10px;
  box-shadow: 0px 0px 7px rgba(52, 52, 58, 0.205);
}
main section article a {
  display: flex;
  flex-direction: column;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 750ms;
}
main section article a:hover {
  transform: scale(1.1);
}
main section #note {
  background-color: #FCDFDB;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
  position: relative;
  transition: border-radius 250ms ease-in-out;
  border-radius: 0px;
  height: 250px;
}
main section #note img {
  padding-top: 10px;
  padding-bottom: 10px;
}
main section #note:hover {
  border-radius: 25px;
}
main section #note:hover::after {
  border-radius: 25px;
  opacity: 1;
}
main section #note::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #facac3;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main section #chic {
  background-color: #FFF5FE;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  height: 250px;
  z-index: 1;
  position: relative;
  transition: border-radius 250ms ease-in-out;
  border-radius: 0px;
}
main section #chic img {
  padding-top: 10px;
  padding-bottom: 10px;
}
main section #chic:hover {
  border-radius: 25px;
}
main section #chic:hover::after {
  border-radius: 25px;
  opacity: 1;
}
main section #chic::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffdcfb;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main section #delice {
  background-color: #FEFEFE;
  justify-content: center;
  width: 226px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  height: 250px;
  z-index: 1;
  position: relative;
  transition: border-radius 250ms ease-in-out;
  border-radius: 0px;
}
main section #delice img {
  padding-top: 10px;
  padding-bottom: 10px;
}
main section #delice:hover {
  border-radius: 25px;
}
main section #delice:hover::after {
  border-radius: 25px;
  opacity: 1;
}
main section #delice::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eaeaea;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main section #palette {
  background-color: #FDFFFC;
  justify-content: center;
  width: 226px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  height: 250px;
  z-index: 1;
  position: relative;
  transition: border-radius 250ms ease-in-out;
  border-radius: 0px;
}
main section #palette img {
  padding-top: 10px;
  padding-bottom: 10px;
}
main section #palette:hover {
  border-radius: 25px;
}
main section #palette:hover::after {
  border-radius: 25px;
  opacity: 1;
}
main section #palette::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #dbffc9;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main section .menu_title {
  display: block;
  width: 196px;
}
main section {
  display: flex;
  justify-content: center;
}
main section .button {
  background-color: #579C87;
  margin-bottom: 50px;
  display: flex;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 75px;
  border-radius: 20px;
  width: 175px;
  border-style: none;
}
main section .button:focus {
  outline: none;
}
main section .button h3 {
  color: #FECA46;
}

.bdp {
  display: flex;
  background-color: #579C87;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 50px;
  min-width: 100%;
  z-index: 2;
}
.bdp h3 {
  display: flex;
  margin: auto;
  color: #FECA46;
}
.bdp h3:hover {
  animation: wiggle 0.5s;
  animation-iteration-count: 3;
}
.bdp a {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin: auto;
  align-content: center;
  text-decoration: none;
}

#loading span {
  animation-name: blink;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#loading span:nth-child(2) {
  animation-delay: 0.2s;
}

#loading span:nth-child(3) {
  animation-delay: 0.4s;
}

#Note_Menu_index {
  height: 40px;
}

.Menu_index {
  height: 30px;
}

#Menu_Chic_index {
  height: 25px;
}

#Delice_Titre_index {
  height: 20px;
}

#Palette_Titre_index {
  height: 20px;
}

/* Mise en Page Menu */
#menu-pres {
  box-shadow: none;
  max-height: none;
  margin-top: 50px;
  background-color: #FCDFDB;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  font-family: "Balsamiq Sans", cursive;
}
#menu-pres .title-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  vertical-align: middle;
}
#menu-pres .title-menu img {
  align-self: center;
}
#menu-pres .repas {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#menu-pres .repas span {
  display: flex;
  justify-self: right;
  font-weight: bolder;
}
#menu-pres .img-top {
  margin-top: 30px;
}
#menu-pres #img-bot {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

#menu-pres-2 {
  box-shadow: none;
  max-height: none;
  margin-top: 50px;
  background-color: #FFF5FE;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  font-family: "Nunito", sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}
#menu-pres-2 .title-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  vertical-align: middle;
}
#menu-pres-2 .title-menu img {
  align-self: center;
}
#menu-pres-2 .repas {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#menu-pres-2 .repas span {
  display: flex;
  justify-self: right;
  font-weight: bolder;
}
#menu-pres-2 .img-top {
  margin-top: 30px;
}
#menu-pres-2 #img-bot {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.deco-droite {
  transform: rotate(180deg);
}

.deco-droite-papilles {
  transform: scaleX(-1);
}

.title-delice {
  font-size: medium;
}

.chic-1 {
  color: #C67412;
}

.chic-2 {
  color: #A56799;
}

.chic-3 {
  color: #6E4CCC;
}

.pres-menu-top {
  padding-bottom: 30px;
  padding-top: 30px;
}

.title-palette {
  font-size: medium;
}

.p-repas {
  font-size: 15px;
}

.delice {
  font-family: "Pangolin", cursive;
}

.palette {
  font-family: "Indie Flower", cursive;
}

.Deco_note {
  height: 4px;
}

#Note_Menu_Repas {
  height: 50px;
}

#Titre_Menu_Repas {
  height: 30px;
}

.Logo_Note_Repas {
  height: 35px;
}

#Deco_palette_Menu {
  height: 10px;
}

#Titre_palette_Menu {
  height: 60px;
}

#Titre_chic_menu {
  height: 30px;
}

.Deco_chic_menu {
  height: 10px;
}

#Titre_delice_Menu {
  height: 60px;
}

.Deco_delice_menu {
  height: 12px;
}

/* Mise en pages Mentions Légales */
.mentions-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
}
.mentions-main .mentions {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-width: 300px;
  padding: 20px 20px 20px 20px;
}
.mentions-main .mentions-bot {
  margin-bottom: 100px;
}

/* Animations menus */
.underline-left {
  display: inline-block;
  justify-self: center;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}

.underline-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: black;
  height: 3px;
  transition-property: right;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
}

.underline-left:hover:before, .underline-left:focus:before, .underline-left:active:before {
  right: 0;
}

/*# sourceMappingURL=style.css.map */
